/* Style qui sera réutilisable pour toutes les pages */
.page-container {
  position: relative;
  min-height: 100%;   

}

.page-background {
    background-image: url("../../public/main2.jpg");
  position: absolute; /* Au lieu de fixed */
  top: 0;
  left: 0;
  width: 100%;
 height: 100%;
  background-size: cover;
  background-position: center top;
  z-index: -1;

}


.page-content {
  position: relative;
  z-index: 1;
  min-height: 100dvh; /* Même hauteur pour pouvoir scroller */
  padding: 2rem;
}





.logo-center {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60dvw;   /* taille responsive */
  height: auto;
}

/* Logo en bas à droite */
.logo-bottom-right {
  position: absolute;
  bottom: 5dvh;
  right: 5dvw;
  width: 12dvw;  /* taille responsive */
  height: auto;
}

@media (max-width: 768px) {
    .page-background{
             background-image: url("../assets/main-tel.jpg");

    }
    .logo-center{
  width: 80dvw;   /* taille responsive */
    top: 62%;
  left: 50%;
    }
    .logo-bottom-right{
          bottom: 5dvh;
  right: 5dvw;
  width: 23dvw;  /* taille responsive */
        
    }
}
