/* src/pages/talents.css */
.talents-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.talents-hero {
  width: 100%;
  height: 50dvh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.talents-title {
position: absolute;
top:  25dvh;
align-self: center;
z-index: 10000;
color: white;
font-size: 2rem;
font-family: 'Restaurant Menu Book', sans-serif;


}


.talents-content {
  flex: 1;
  max-width: 80%;
  margin: 0 auto;
  width: 100%;
    padding-top: 2dvh !important;;
        padding-bottom: 5dvh !important;;

}

.talents-section-title{
    display: flex;
    justify-content: center;
}

.talents-section{
  margin-top: 5dvh;
}




.director-section-content {
padding-top: 5dvh;
}

/* --- Titre "Director" --- */

.director-title {
  margin-bottom: 3dvh;
}

.director-title-img {
  height: 60px;
  object-fit: contain;
}


/* --- Contenu principal (image + texte) --- */

.director-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
   align-items: center;        /* centre verticalement */
  justify-content: center;    /* centre horizontalement */
}

/* Image du réalisateur */
.director-img img {
  width: 260px;
  height: 340px;
  background: #999; /* gris placeholder si image lente */
  object-fit: cover;
  border: 2px solid #EFC650 ;
}

/* Bloc texte */
.director-text {
  max-width: 60dvw;
  line-height: 1.5;
  font-size: 0.9rem;
  color: #333;
}

/* Nom du réalisateur */
.director-name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
    font-family: 'Akrobat-ExtraBold', sans-serif;

}



.fed-img{
  width: 18dvw;
height: auto;
}
.fed-div-img{
  align-items: center;        /* centre verticalement dans sa div */
  justify-content: center;    /* centre horizontalement dans sa div */
}





.credits {
  display: flex;
  gap: 15dvw;       /* Espace entre les deux colonnes */
  align-items: center;
  justify-content: center;
}

.credits-col p {
  font-weight: bold; 
  margin: 4px 0;   /* Marges propres */
  font-size: 1.2rem;
  font-family: 'Akrobat-ExtraBold', sans-serif;
}

.credits-col  {
  align-self: center;
}


@media (max-width: 768px) {
  .fed-img{
    width: 50dvw;
  }
  .credits{
    flex-direction: column;
  }
.director-content {
flex-direction: column;
}
.director-section-content{
  padding-left: 3dvw;

}

.talents-content{
  max-width: none;
align-items: center;
}
.director-text {
max-width: 90%;
}

}