/* src/App.css */
@font-face {
  font-family: 'Restaurant Menu Book';
  src: url('./fonts/RestaurantMenuBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat-ExtraBold';
  src: url('./fonts/Akrobat-ExtraBold\ 2.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat-regular';
  src: url('./fonts/Akrobat-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Reset et configuration de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
font-family: 'Akrobat-regular', sans-serif;
background-color: white;
}

/* Structure principale : Header, Main, Footer */
.App {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

/* MAIN CONTENT */
/* src/App.css */
.app-main {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  position: relative; /* Ajout pour le contexte de position */
  z-index: 1; /* Pour que le contenu soit au-dessus du background */
}
/* FOOTER */
.app-footer {
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  margin-top: auto;
  z-index: 1000;
}



/* RESPONSIVE */

/* Tablettes */
@media (max-width: 768px) {
  .app-header {
    padding: 1rem;
  }

  .app-nav ul {
    gap: 1rem;
    font-size: 0.9rem;
  }

  .app-main {
  }

  .app-footer {
  }
}

/* Mobile */
@media (max-width: 480px) {
  .app-header {
    padding: 0.75rem;
  }

  .app-nav ul {
    flex-direction: column;
    gap: 0.75rem;
  }

  .app-nav a {
    font-size: 0.95rem;
  }

  .app-main {

  }

  .app-footer {
  }

  .app-footer p {
  }
}